.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.scrollmenu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.scrollmenu a.active {
  background-color: #04AA6D;
  color: white;
}
div.scrollmenu a:hover {
  background-color: #777;
}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
nav {

  display: flex;

  justify-content: space-around;

  align-items: center;

  min-height: 8vh;

  background-color: teal;

  font-family: "Montserrat", sans-serif;

}
.home {
     background-image: url("https://telegra.ph/file/16c06e6535e6c035b0254.jpg");
}
